<html>

  <head>

  </head>

  <body>
    <div align="center">
    <h3>  Bem vindo(a) ao nosso cardápio !</h3>
    <h3>  Escolha as refeições desejadas e faça o login para fazer sua compra! </h3></div>
    <br>
    <% @cardapio.each do |cardapio| %>

</div>


<div class="shopping-cart">

  <div class="product">
    <div class="product-image">
      <img src=<%=cardapio.link_imagem %> alt="..." class="img-responsive"></div>
    </div>

    
  <!-- Content here -->

    <div class="product-details">
      <div class="product-title"> <%= cardapio.nome%> </div>
      <p class="product-description"> <%= cardapio.descricao%> </p>
    </div>
    
    <div class="product-price"> <%=cardapio.preco %> </div>
    <div class="product-quantity">
      
      <input type="number" value="1" min="0">
    </div>
    <br>
     
     SubTotal R$
    <div class="product-line-price">0.00</div>
  </div>
  <div class="totals">
    <div class="totals-item">
     

    </div>

  </div>

</div>
<br>
    <button class="checkout">Comprar</button>
    <br>
    <br>
      <script>
      /* Set rates + misc */

      /* Set rates + misc */
      var taxRate = 0.05;
      var shippingRate = 15.00;
      var fadeTime = 300;


      /* Assign actions */
      $('.product-quantity input').change( function() {
        updateQuantity(this);
      });

      $('.product-removal button').click( function() {
        removeItem(this);
      });


      /* Recalculate cart */
      function recalculateCart()
      {
        var subtotal = 0;

        /* Sum up row totals */
        $('.product').each(function () {
          subtotal += parseFloat($(this).children('.product-line-price').text());
        });

        /* Calculate totals */

        var total = subtotal;

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function() {
          $('#cart-subtotal').html(subtotal.toFixed(2));
          $('#cart-total').html(total.toFixed(2));
          if(total == 0){
            $('.checkout').fadeOut(fadeTime);
          }else{
            $('.checkout').fadeIn(fadeTime);
          }
          $('.totals-value').fadeIn(fadeTime);
        });
      }


      /* Update quantity */
      function updateQuantity(quantityInput)
      {
        /* Calculate line price */
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.product-price').text());
        var quantity = $(quantityInput).val();
        var linePrice = price * quantity;

        /* Update line price display and recalc cart totals */
        productRow.children('.product-line-price').each(function () {
          $(this).fadeOut(fadeTime, function() {
            $(this).text(linePrice.toFixed(2));
            recalculateCart();
            $(this).fadeIn(fadeTime);
          });
        });
      }


      /* Remove item from cart */
      function removeItem(removeButton)
      {
        /* Remove row from DOM and recalc cart total */
        var productRow = $(removeButton).parent().parent();
        productRow.slideUp(fadeTime, function() {
          productRow.remove();
          recalculateCart();
        });
      }
      </script>

</div>

    <div class="product-removal">
      <button class="remove-product">
        Remover produto da compra
      </button>
    </div>

  <% end %>

    </body>

</html>
