<html>

  <head>

  </head>

  <body>

    <h1> Bem vindo(a) ao nosso cardápio !</h1>
    <br>
    <h3>Escolha a sua refeição desejada e faça o log-in para fazer sua compra! </h3>

    </body>

</html>
