<html>
  <head>
        <div class="jumbotron">
      <h1 class="display-3">Gregolisco!</h1>
      <p class="lead">Confira o nosso cardápio e faça seu pedido!</p>
      <hr class="my-4">
      <p></p>
      <p class="lead">
        <%= link_to "Home", home_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Cardápio", cardapio_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Entrar", entrar_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Cadastre-se", cadastro_path, class: 'btn btn-primary btn-lg'%>
      </p>
    </div>
  </head>

  <body>

    <h1> Bem vindo(a) ao nosso cardápio !</h1>
    <br>
    <h3>Escolha a sua refeição desejada e faça o log-in para fazer sua compra! </h3>
    </body>
</html>
