<html>

  <head>

    <title>Ep3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<h2> &nbsp &nbsp Encontre-nos aqui!</h2> 
<div class="container">

	<div class="row">
		<div class="col-xs-3">
		<address>
		<br><br>
		<h3>Endereço</h3>
		Universidade de Brasília<br>
		Faculdade do Gama (FGA) &nbsp &nbsp <br>
		St. Leste Projeção A <br>
		Gama Leste, Brasília <br>
		DF, 72444-240<br>
		</address>
		</div>
		<div class="col-xs-9">

		<br>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15341.832794225613!2d-48.04443800000001!3d-15.989645999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x447f05b6f05fa281!2sUniversidade+de+Bras%C3%ADlia+-+Faculdade+do+Gama+%5BFGA%5D!5e0!3m2!1spt-PT!2sbr!4v1512778483176" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
</div>
</div>

  <body>
    <%= yield %>
  </body>

</html>
