<!DOCTYPE html>
<html>
  <head>
    <title>Ep3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-link">
        <a class="nav-link " href="#">Menu</a>
      </li>
    </ul>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Home</a>
    </nav>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Menu</a>
    </nav>

    <div class="jumbotron">
  <h1 class="display-3">Gregolisco!</h1>
  <p class="lead">Confira o nosso cardápio e faça seu pedido!</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Cardápio</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Entre</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Cadastre-se</a>
  </p>
</div>

</nav>

  </head>

  <body>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu email com ninguém.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="Senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
  </div>

  </div>
  <div class="form-group">
    <label for="exampleTextarea">Descricao do produto</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Entre com a foto do produto</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This.</small>
  </div>
  </fieldset>
  <button type="Confirmar" class="btn btn-primary">Confirmar</button>
</form>
    <%= yield %>

  </body>
</html>
